#!/bin/bash
set -euo pipefail

echo "determining distro..."

{{- $id := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}{{- $id = .chezmoi.osRelease.id -}}{{- end -}}
{{- $matched := false -}}
{{- range $name, $sys := .systems -}}
{{- if has $id $sys.ids }}
command -v nu &>/dev/null || {{ join " " $sys.install }} nushell
{{- $matched = true -}}
{{- end -}}
{{- end }}
{{ if not $matched -}}
echo "Unsupported distro: {{ $id }}" >&2
exit 1
{{- end }}

echo "detected distro: {{ $id }}"
