[".local/share/fonts/apple-color-emoji/AppleColorEmoji.ttf"]
type = "file"
url = "https://github.com/GORAlexComp/AppleColorEmojiFont/raw/58d87f7b5da4625ecc24651630df3b3379f2d3fc/fonts/AppleColorEmoji.ttf"
exact = true

[".local/opt/glide"]
type = "archive"
{{ if eq .chezmoi.arch "amd64" -}}
url = "https://github.com/glide-browser/glide/releases/download/0.1.59a/glide.linux-x86_64.tar.xz"
{{ else if eq .chezmoi.arch "arm64" -}}
url = "https://github.com/glide-browser/glide/releases/download/0.1.59a/glide.linux-aarch64.tar.xz"
{{ end -}}
stripComponents = 1
exact = true
