.config/nushell/history.txt
README.md
{{ $id := .chezmoi.os -}}
{{ if hasKey .chezmoi.osRelease "id" -}}{{ $id = .chezmoi.osRelease.id -}}{{ end -}}
{{ if eq $id "darwin" -}}
{{ include ".chezmoiignore_darwin" }}
{{- else -}}
{{ range $name, $sys := .systems -}}
{{ if has $id $sys.ids -}}
{{ if hasKey $sys "ignore" -}}
{{ range $sys.ignore }}{{ . }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{- end }}
