{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $emailPass := promptStringOnce . "emailPass" "Email app password" -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
emailPass = {{ $emailPass | quote }}
