# ==================================
#  1. DEFAULT IGNORE
# ==================================
*
# ============================================
#  2. UN-IGNORES
# ============================================
!.gitignore

!.config/

!.config/kitty/
!.config/kitty/kitty.conf

!.config/ghostty/
!.config/ghostty/**

!.config/yazi/
!.config/yazi/*

!.config/nvim/
!.config/nvim/**
!.config/neovide/
!.config/neovide/config.config.toml

!.config/yt-dlp/
!.config/yt-dlp/config

!.config/karabiner/
!.config/karabiner/**

!.config/zellij
!.config/zellij/**

!.doom.d/
!.doom.d/**

!.hammerspoon/
!.hammerspoon/**

#former not used anymore
!.tmux.conf
!.config/tmux/
!.config/tmux/**

!.zshrc
# ============================================
#  3. GLOBAL RE-IGNORES
# ============================================
.DS_Store
