[submodule ".config/neovivi"]
	path = .config/nvim
	url = git@github.com:codingvivi/neovivi.git

[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git

[submodule ".config/tmux/plugins/tmux-modal"]
	path = .config/tmux/plugins/tmux-modal
	url = https://github.com/tmux-plugins/tmux-modal.git

[submodule ".config/tmux/plugins/tmux-sessionx"]
	path = .config/tmux/plugins/tmux-sessionx
	url = https://github.com/omerxx/tmux-sessionx.git

[submodule ".config/tmux/plugins/tmux2k"]
	path = .config/tmux/plugins/tmux2k
	url = https://github.com/tonimelisma/tmux2k.git

[submodule ".config/tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git

[submodule ".config/tmux/plugins/tmux-sensible"]
	path = .config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
