# ==================================
#  1. DEFAULT IGNORE
# ==================================
*
# ============================================
#  2. UN-IGNORES
# ============================================
!.gitignore

!.config/
!.config/nvim/
!.config/nvim/**

!.hammerspoon/
!.hammerspoon/**

# ============================================
#  3. GLOBAL RE-IGNORES
# ============================================
.DS_Store
