#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.osRelease.id "opensuse-tumbleweed" "opensuse-leap" "opensuse" -}}
command -v nu &>/dev/null || zypper --non-interactive install nushell
{{ else if eq .chezmoi.osRelease.id "fedora" "fedora-asahi-remix" -}}
command -v nu &>/dev/null || dnf install --assumeyes nushell
{{ else -}}
echo "Unsupported distro: {{ .chezmoi.osRelease.id }}" >&2
exit 1
{{ end -}}
