{
  "colors":null,
  "dateTimeFmt":"2006-01-02 15:04",
  "basePath":"{{ .chezmoi.homeDir }}/.config/pomo",
  "dbPath":"{{ .chezmoi.homeDir }}/.local/share/pomo/pomo.db",
  "socketPath":"/run/user/1000/pomo.sock",
  "iconPath":"{{ .chezmoi.homeDir }}/.local/share/pomo/icon.png",
  "onEvent":null,
  "publish":false,
  "publishJson":false,
  "publishSocketPath":""
}
